
.good_img img {
    
    max-height: 200px;
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 99;
}

.good_img{
    width: 100%;
    
}

.good_color{   
    margin: 5px 0px;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    border: 1px solid #ccc;
    overflow: hidden;  
}

.good_colors{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
}

.good_color:hover {
    border-color: darkcyan;
    cursor: pointer;
}

.carousel-img {
    margin: auto;
}

.good-desc {
    white-space: nowrap;
    max-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.good_color img {
    max-height: 100%;
    max-width: 100%;
    
}

.good_card{
    height: 325px;
}

.good_card:hover{
    border: 1px solid cyan;
}

.input {
    padding: 5px;
    position: absolute;
    width: 100%;
    height: 320px;
    z-index:1;
    left:0;
    top:0;
    overflow: hidden;  
    opacity: 1;
    -moz-opacity: 1; /*mozilla <3.5**/
    filter: alpha(opacity=100); /*IE <9*/
    background-color: white;
}

.input:hover{
    height: auto;
    min-height: 340px;
    left:-10px;
    top:-10px;
    width: 110%;
    z-index: 1000;
    border: 1px solid #ccc;
    overflow: visible;  
    display: block;
    
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
    filter: progid:DXImageTransform.Microsoft.shadow(direction=120, color=#000000, strength=10);
    
    border-radius: 5px;    
}
.filter-values-panel {
    padding-top: 2px;
    padding-bottom: 2px;
}

.filters-panel {
    padding: 0;
}


.param-Ñol {
    border-bottom: 1px dotted #ccc;
    padding: 0;
    vertical-align: top;
}

.param-table {
    width: 100%;
    font-style: italic;
    font-size: 14px;
}

.param-name {
    width: 100%;
    position: relative;
}

.p {
    top: 2px;
    position: absolute;
    padding: 0 5px;
    background-color: white;
}
