img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 99;
}

.good_img{
    width: 100%;
}

.goodname{
    width: 100%;
    text-align: center;
}

.good_color{
    margin: 5px 0px;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.good_colors{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
}

.good_color:hover {
    border-color: darkcyan;
    cursor: pointer;
}

.carousel-img {
    margin: auto;
}

.good_card{
    height: 290px;
    overflow: hidden;
}

.good_card:hover{
    border: 1px solid cyan;
    overflow: visible;
}

.input {
    padding: 5px;
    position: absolute;
    width: 100%;
    height: 320px;
    z-index:1;
    left:0;
    top:0;
    overflow: hidden;
    opacity: 1;
    -moz-opacity: 1; /*mozilla <3.5**/
    filter: alpha(opacity=100); /*IE <9*/
    background-color: white;
}

.input:hover{
    height: auto;
    min-height: 340px;
    left:-10px;
    top:-10px;
    width: 110%;
    z-index: 1000;
    border: 1px solid #ccc;
    overflow: visible;
    display: block;

    box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
    filter: progid:DXImageTransform.Microsoft.shadow(direction=120, color=#000000, strength=10);

    border-radius: 5px;
}
.filter-values-panel {
    padding-top: 2px;
    padding-bottom: 2px;
}

.filters-panel {
    padding: 0;
}


.param-Ñol {
    border-bottom: 1px dotted #ccc;
    padding: 0;
    vertical-align: top;
}

.param-table {
    width: 100%;
    font-style: italic;
    font-size: 14px;
}

.param-name {
    width: 100%;
    position: relative;
}

.p {
    top: 2px;
    position: absolute;
    padding: 0 5px;
    background-color: white;
}

.owl-carousel {
  position: relative;
}
.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  /*height: 25px;
  width: 25px;
  border-radius: 20px;
  color: #fff;
  background-color: #c0c0c0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;*/
  opacity: 0.5;
  -moz-opacity: 0.5; /*mozilla <3.5**/
}
.owl-prev {
  left: 0;
}
.owl-next {
  right: 0;
}

.owl-prev:hover,
.owl-next:hover {
  opacity: 1;
  -moz-opacity: 1; /*mozilla <3.5**/
}

.owl-page {
  height: 7px;
  width: 7px;
  background-color: #f8f8f8;
  display: inline-block;
  margin-left: 5px;
  border-radius: 10px;
}

.owl-page.active {
  background-color: grey
}

.owl-pagination {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  bottom: 10px;
}
