<script type="text/ng-template" id="goodlist_all.directive.html">

  <div class="col-xs-12">

      <ul class="nav nav-pills nav-justified">
        <li ng-repeat="type in vm.goods_types" ng-class="{active: type.id==vm.type, disabled: ngDisabled&&!type.id!=vm.type}" role="presentation">
          <a class="type_pill" href="#/goods?type={{type.id}}" ng-click="vm.changeType(type.id)">{{type.name}}</a>
        </li>
      </ul>
    </div>

  <!-- PAGINATION BLOCK -->


  <div ng-if="vm.itemsLoaded">
    <d-pagination
      filters="vm.filters"
      default-filters="vm.defaultFilters"
      template-url="pagination.directive.html"
      lang="ru"
      page-max="vm.pageMax"
      total-items="vm.totalItems"
      update-filter-callback="vm.getItems({ clear_list: true })" >
    </d-pagination>
  </div>
  <!-- PAGINATION BLOCK : END -->

  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12">

      <div class="row">

        <div class="col-xs-6 col-md-5ths thumbnail good_card" ng-repeat="good in vm.goods.results"
             ng-mouseenter="doorHover($event)" ng-mouseleave="doorHover($event)">
          <div class="input">
            <div class="good_img">
              <img ng-src="/{{ good.foto[0] }}" alt="" />
            </div>

            <h4 class="goodname">{{ good.name }}</h4>
            <p><a class="btn btn-success" href="#/good/{{good.id}}" role="button">Заказать &raquo;</a></p>
          </div>
        </div><!--/.col-xs-6.col-lg-4-->


      </div><!--/row-->
      <!-- PAGINATION BLOCK -->
    </div><!--/.col-xs-12.col-sm-12-->


  </div>
  <div ng-if="vm.itemsLoaded">
    <d-pagination
      filters="vm.filters"
      default-filters="vm.defaultFilters"
      template-url="pagination.directive.html"
      lang="ru"
      page-max="vm.pageMax"
      total-items="vm.totalItems"
      update-filter-callback="vm.getItems({ clear_list: true })" >
    </d-pagination>
  </div>
  <!-- PAGINATION BLOCK : END -->
</script>
