<script type="text/ng-template" id="goods_list.html">

  <div class="row row-offcanvas row-offcanvas-right">
     <!-- PAGINATION BLOCK -->
    <div ng-if="vm.itemsLoaded">
      <d-pagination
        filters="vm.filters"
        default-filters="vm.defaultFilters"
        template-url="pagination.directive.html"
        lang="ru"
        page-max="vm.pageMax"
        total-items="vm.totalItems"
        update-filter-callback="vm.getItems({ clear_list: true })" >
      </d-pagination>
    </div>
    <!-- PAGINATION BLOCK : END -->

        <div class="col-xs-12 col-sm-12">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas" >Фильтр</button>
          </p>
          <div class="row">

            <div class="col-xs-6 col-lg-3 thumbnail good_card" ng-repeat="good in vm.goods.results"
                ng-mouseenter="doorHover($event)" ng-mouseleave="doorHover($event)">
                <div class="input">
                   <div class="good_img">
                    <img ng-src="/{{ good.foto[0] }}" alt="" />
                </div>

                <h4>{{ good.name }}</h4>
                <p class="good-desc desc">
                     <span ng-repeat="(property, value) in good.info">{{property}}: {{value}} <span ng-if = '!$last'>/</span> </span>
                </p>
                <p><a class="btn btn-success" href="#" role="button">Заказать &raquo;</a></p>
              </div>
            </div><!--/.col-xs-6.col-lg-4-->


          </div><!--/row-->
              <!-- PAGINATION BLOCK -->
        </div><!--/.col-xs-12.col-sm-12-->
        <div ng-if="vm.itemsLoaded">
          <d-pagination
            filters="vm.filters"
            default-filters="vm.defaultFilters"
            template-url="pagination.directive.html"
            lang="ru"
            page-max="vm.pageMax"
            total-items="vm.totalItems"
            update-filter-callback="vm.getItems({ clear_list: true })" >
          </d-pagination>
        </div>
    <!-- PAGINATION BLOCK : END -->

    </div>



</script>
