    include "marketplace/pagination.directive.html"
    include "marketplace/goodlist_all.directive.html"
    include "marketplace/goodlist_home.directive.html"
    include "marketplace/home_page.html"
    include "marketplace/goods_page.html"
    include "app_header.html"
    <div
      ui-view
      autoscroll="false"
      class="ui_view_block"
      ng-class="{'white_background': $parent.whiteBackground, 'settings_background': $parent.whiteBackground == 'settings'}">
    </div>
    include "app_footer.html"
